
/* PAGE MOT DE PASSE */

#content form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#password_bloc form input {
  width: 100%;
}

/* NAV BUTTONS */

#nav_buttons {
  position: fixed;
  bottom: 3vh; right: 3vh;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* case mobile */
@media screen and (max-width: 1024px) { 
  #nav_buttons {
  flex-direction: column;
}}

#nav_buttons a {
  background-color: black;
  padding: 10px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: white solid 2px;
  color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  display: flex;
  justify-content: center;
}

#nav_buttons a p {
  display: flex;
  align-items: center;
  font-size: 5em;
  color: white;
}

/* Memory part (preview + real) */

#preview_whole {
  width: 100%;
  padding-bottom: 20px;
  border: 1px solid black;
}

#preview_header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  -moz-box-shadow: 0px 2px 5px 0px #656565;
  -webkit-box-shadow: 0px 5px 0px 0px #656565;
  -o-box-shadow: 0px 2px 5px 0px #656565;
  box-shadow: 0px 2px 5px 0px #656565;
}

#preview_header img {
  max-width: 50%;
  max-height: 80px;
}

#preview_title {
  margin: 20px 0px;
}

#preview_content_memory {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview_content_memory img, #memory_container img {
  max-width: 200px;
  max-width: 90%;
}

#memory_container {
  width: 50%;
}

#memory_container, .memory_container {
  object-fit: contain;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: bisque;
  border: 1px solid #C9C9C9;
  -moz-box-shadow: 0px 1px 5px 0px #656565;
  -webkit-box-shadow: 0px 1px 5px 0px #656565;
  -o-box-shadow: 0px 1px 5px 0px #656565;
  box-shadow: 0px 1px 5px 0px #656565;
  padding: 15px 0px;
}

#memory_container p {
  max-width: 200px;
}

#preview_adding_button {
  height: 50px; width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  border: 1px solid white;
  -moz-box-shadow: 0px 1px 3px 0px #656565;
  -webkit-box-shadow: 0px 1px 3px 0px #656565;
  -o-box-shadow: 0px 1px 3px 0px #656565;
  box-shadow: 0px 1px 3px 0px #656565;
  border-radius: 50%;

  margin-right: 20px;
}

#preview_adding_btn_text {
  font-size: 50px;
}

/* COLOR MODULE - FORM NEW EVENT */

#color_module {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 20px 0px;
}

@media screen and (max-width: 1024px) { 
  #color_module {
  flex-direction: column;
}}

.color_content {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.color_choosing {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.nuancier {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid black;
  margin: 10px;
}


/* Create memory */

#create_memory_preview_bloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh 0vh 5vh 0vh;
}

#memory_preview_btn_refresh {
  background-color: white;
  color: indianred;
  border: 3px solid indianred;
  padding: 8px;
  box-shadow: 0px 10px 11px 0px rgba(0, 0, 0, 0.6);
  margin: 2vh 0vh 3vh 0vh;
  font-weight: bold;
}

#preview_format_selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2vh 0vw;
}

#preview_format_selection input{
  visibility: hidden;
  display: none;
  margin: 2vh 0vw;
}

#preview_format_selection input:checked + label{
  background-color: midnightblue;
  color: white;
  border-radius: 10vh;
  padding: 1vh;
  margin: 0vh 1vw;
  transition: 0.5s color ease-in-out;
}

.memory_preview_flex {
  display: flex;
  flex-direction: row;
}

.nuancier_new_memory {
  height: 100px;
  width: 100px;
  border-radius: 20%;
  border: 2px solid black;
  margin: 10px;
  background-size: contain;
}


